#footer {
	background-color: $secondary-color;
	padding: $small-gutter;
	margin-top: $large-gutter;
	clear: both;
	.button {
		@include float();
		margin-right: .3rem;
	}
	small {
		margin-top: .4rem;
	}
}
@media(max-width:$breakpoint-phone) {
	#footer {
		.button {
			width: 100%;
			margin-top: .4rem;
		}
		small {
			width: 100%;
			text-align: center;
		}
	}
}