img, .svg-container {
	display: block;
	position: relative;
	&.img-left {
		max-width: $base-image-width;
		float: left;
		margin-right: $large-gutter;
	}
	&.img-right {
		max-width: $base-image-width;
		float: right;
		margin-left: $large-gutter;
	}
	&.img-center {
		max-width: $base-image-width;
		margin: 0 auto;
	}
	svg {
		width: 100%;
		height: auto
	}
}
@media(max-width:$breakpoint-phone) {
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		float: left;
		margin: $base-gutter 0;
	}
}